<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EEP_EIMS_Taigu_PowerMeter_Service.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <EEP_EIMS_Taigu_PowerMeter_Service.My.MySettings>
            <setting name="EEP_EIMS_Taigu_PowerMeter_Service_Webservice_taigu_PowerMeterDatas"
                serializeAs="String">
                <value>http://221.230.60.23:8000/taigu/services</value>
            </setting>
            <setting name="DBIP" serializeAs="String">
                <value>10.3.227.226</value>
            </setting>
            <setting name="DBLoginID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBLoginPassword" serializeAs="String">
                <value>Passw0rd</value>
            </setting>
            <setting name="CheckSettingChange" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScanDeviceInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DBErrorCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DBErrorReConnectCount" serializeAs="String">
                <value>10</value>
            </setting>
        </EEP_EIMS_Taigu_PowerMeter_Service.My.MySettings>
    </applicationSettings>
</configuration>
