<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target archiveEvery="Day" archiveNumbering="Rolling" concurrentWrites="true"
           fileName="${basedir}/logs/log.txt" keepFileOpen="false"  archiveFileName="${basedir}/logs/log.{#}.txt"
           layout="[${longdate}]${message}" maxArchiveFiles="7" name="file"  xsi:type="File" encoding="UTF-8"/>
  </targets>

  <rules>
    <logger minlevel="Debug" name="*" writeTo="file"/>
  </rules>
</nlog>